<div class="grid grid-cols-1 md:grid-cols-[1fr_1fr] gap-4 md:px-20 py-4 w-full h-full">

  <!-- LEFT COLUMN -->
  <div class="flex justify-center">
    <div class="w-full max-w-xl px-4">
      <!-- map content -->
      <div class="relative inline-block w-full max-w-[600px] aspect-square border rounded-xl overflow-hidden shadow">
        <!-- Map Image -->
        <img #mapImg class="absolute inset-0 w-full h-full object-cover" src="assets/img/detailed_738.jpg"
          (load)="onImageLoad(mapImg)" />
        <!-- Wards -->
        <div *ngFor="let w of scaledWards()" class="absolute w-3 h-3 rounded-full" [style.left.px]="w.left"
          [style.top.px]="w.top" [ngClass]="[getDotClassForHeatMap(w.amount),
        isHovered(w) ? 'ring-4 ring-yellow-400 scale-125 z-50' : '']">
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="gap-6 text-white overflow-y-auto">
    <!-- list content -->
    <div class="bg-slate-800/50 rounded-xl shadow px-4 py-4 md:inline-block md:min-w-80">
      <h2 class="text-lg font-semibold mb-3 text-center">Most used wards</h2>
      <!-- Header -->
      <div class="grid grid-cols-2 gap-2 text-sm font-semibold text-slate-300 border-b border-slate-600 pb-2 mb-2">
        <span>Position</span>
        <span class="text-right">Amount</span>
      </div>
      <!-- Rows -->
      <div class="space-y-1">
        <div *ngFor="let w of wardsList()" (mouseenter)="hoveredWard.set(w)" (mouseleave)="hoveredWard.set(null)" 
          class="grid grid-cols-2 gap-2 bg-slate-600 px-3 py-2 rounded-lg hover:bg-slate-500 transition">
          <span>[{{ w.x }}, {{ w.y }}]</span>
          <span class="text-right font-semibold">{{ w.amount }}</span>
        </div>
      </div>
    </div>
  </div>

  <app-error [errorMessages]="apiErrors()"></app-error>
</div>