.map-container {
  position: relative;
  width: 550px;   /* you can make this responsive */
  height: 550px;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ward {
  position: absolute;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%); /*center dot*/
  border: 2px solid white;
}


