<div class="flex flex-col md:flex-row w-full h-full p-4 gap-4 items-start">

  <!-- MAP (2/5 on desktop) -->
  <div class="w-full md:w-2/5 flex justify-center">
  <div class="relative inline-block w-full max-w-[550px] aspect-square border rounded-xl overflow-hidden shadow">

      <!-- Map Image -->
      <img #mapImg class="absolute inset-0 w-full h-full object-cover" src="assets/img/detailed_738.jpg"
        (load)="onImageLoad(mapImg)" />

      <!-- Red Dots -->
      <div
        *ngFor="let w of scaledWards()"
        class="absolute w-3 h-3 rounded-full border border-white z-20"
        [style.left.px]="w.left"
        [style.top.px]="w.top"
        [ngClass]="
          w.amount > 1 ? 'bg-green-500' : 'bg-red-500'
        "
      ></div>

    </div>
  </div>

  <!-- LIST (3/5 on desktop) -->
  <div class="w-full md:w-3/5 flex flex-col gap-6 text-white overflow-y-auto lg:max-h-[80vh]">

    <div class="bg-slate-800 rounded-xl shadow p-4">
      <h2 class="text-lg font-semibold mb-3">Most used wards</h2>

      <ul class="space-y-2">
        <li
          *ngFor="let w of wards()"
          class="flex justify-between bg-slate-600 p-2 rounded-lg"
        >
          <span>Ward {{ w.x }}</span>
          <span class="font-semibold">{{ w.y }}</span>
        </li>
      </ul>
    </div>

  </div>

</div>
