<div class="w-full flex justify-center">
  <div class="relative border rounded-xl overflow-hidden shadow">

    <!-- Map Image -->
    <img
      #mapImg
      class="block w-full lg:w-[500px] lg:h-[500px]"
      src="assets/img/detailed_738.jpg"
      (load)="onImageLoad(mapImg)"
    />

    <!-- Red Dots -->
    <div
    *ngFor="let w of scaledWards()"
    class="absolute bg-red-500 w-3 h-3 rounded-full border border-white z-20"
    [style.left.px]="w.left"
    [style.top.px]="w.top"
  ></div>

  </div>
</div>
